{% extends "base.html" %}

{% block css %}
{{ block.super }}

{% endblock css %}

{% block main %}
<div style="width:100%; text-align:center">

    {% if name %}

    <div>
        <form method="get" action="/search/">
            <label>Start here. Type in a word:</label>
            <input type="text" placeholder="Type something..." name="q" id="id_q" size="35" />
            <input type="submit" value="Search">
        </form>
    </div>


     <p style="font-size:14pt">
        <b>About:</b>
        <br />This is an example of a django app connecting to social APIs. <br />
            Code at <a href="http://github.com/katychuang/django-snapbook">github</a></p>

    <ul class="home">
        <li>Examples of pulling images from social api:</li>
        <li><a href="/instagram">/instagram</a></li>
        <li><a href="/tumblr">/tumblr</a></li>
        <!--li><a href="/twitter">/twitter</a></li-->
        <!--li><a href="/flickr">/flickr</a></li-->
    </ul>

    <hr />

    {% endif %}

    {% if popular %}
    <div style="width:100%; overflow:auto;">
        <ul class="photos">
        {% for p in popular %}
            <li><img src="{{ p }}" height="250"></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}


    {% if definition == "DNE" %}
        <h2><a href="/">&lt; Home</a></h2>
        <h1><em>no definitions found for {{ query_string }}  but maybe these photos will help you understand the word.</em></h1>
    {% elif definition  %}
        <h2><a href="/">&lt; Home</a></h2>
        <h1>{{ query_string }} ({{ pos }}) : {{ definition }}</h1>
    {% else %}
        &nbsp;
    {% endif %}

    {% if tumble %}
    <div style="width:100%; overflow:auto">
        <ul class="photos">
        {% for p in tumble %}
            <li><img src="{{ p }}" height="200"></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if twitters %}
    {{ twitters }}
    {% endif %}

        <!--h2>What is written about '{{ query_string }}'?</h2-->

    {% if nyt %}
    <div style="">
        <h1>Articles about {{ query_string }} from the New York Times</h1>
        <ul class="articles">
        {% for p in nyt %}
            <li><a href="{{ p.url }}"><b>{{ p.title }} </b></a>
                by {{ p.author }}<br /><small> {{ p.body }}</small></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>


{% endblock main %}
