{% extends "base.html" %}

{% block css %}
{{ block.super }}

{% endblock css %}

{% block main %}
<div style="width:100%; text-align:center">

    {% if name %}

    <ul class="home">
        <li>Examples:</li>
        <li><a href="/flickr">/flickr</a></li>
        <li><a href="/instagram">/instagram</a></li>
        <li><a href="/tumblr">/tumblr</a></li>
        <li><a href="/twitter">/twitter</a></li>
    </ul>

    {% endif %}

    {% if popular %}

        <ul>
        {% for p in popular %}
            <li><img src="{{ p }}"></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if twitters %}
    {{ twitters }}
    {% endif %}


</div>
{% endblock main %}
